<div class="page">
  <h1 class="title">Flop Guesser</h1>
  <p class="info">Select the movie with the lowest imdb rating!</p>
  <button class="start" (click)="startClick()">{{status}}</button>

  <p class="result">{{result}}</p>

  <div class="cards">
    <app-item-card [card]="card1" [hidden]="hiddenStatus" [rating]="ratingStatus" (btnSelect)="evaluate(1)"></app-item-card>
    <app-item-card [card]="card2" [hidden]="hiddenStatus" [rating]="ratingStatus" (btnSelect)="evaluate(2)"></app-item-card>

  </div>


</div>